*.class
*.log

target/

\.idea/

build/

.DS_Store

source_v/

samRes.csv
bdgResFullSplit.csv
bdgRes.csv
sequilaQualsBlocks.csv

${seq.metastore.dir}


.ipynb_checkpoints
__pycache__
venv/

*_out.csv/
