*.class
*.log

target/

\.idea/

build/

.DS_Store

source_v/

samRes.csv
bdgResFullSplit.csv
bdgRes.csv
sequilaQualsBlocks.csv
sequilaPileup.csv

${seq.metastore.dir}


.ipynb_checkpoints
__pycache__
venv/

*_out.csv/
Docker/sbt-jdk/target
Docker/sbt-jdk/project

src/main/scala/org/biodatageeks/sequila/pileup/PileupRunner.scala

page/resources/_gen/
page/public/
