<!-- Medium Zoom -->
<script src="/js/medium-zoom.min.js"></script>

<script>
    const images = Array.from(document.querySelectorAll(".post-content img"));
    images.forEach(img => {
        mediumZoom(img, {
            margin: 0, /* The space outside the zoomed image */
            scrollOffset: 40, /* The number of pixels to scroll to close the zoom */
            container: null, /* The viewport to render the zoom in */
            template: null /* The template element to display on zoom */
        });
    });
</script>
<!-- End Medium Zoom -->